<div class="row">
	<div class="col-md-10 col-md-offset-1">

		<h2 class="title">How to create your own gravatar (Profile picture) </h2><br />

		<p class="title">Instead of simple avatar our website uses <strong>gravatar</strong> <strong>(Globally Recognized Avatar)</strong>. Gravatar is a profile picture, which is connected to your email address. When a user on our website leaves a comment or like (with email), it pulls their Globally Recognized Avatar from Gravatar servers. Then that picture is shown next to the comment or like. This allows each commenter to have their identity through out the world wide web.</p>

		<div class="title"><iframe width="560" height="315" src="https://www.youtube.com/embed/NYxcVWGp-AM" frameborder="0" allowfullscreen></iframe></div>
	</div>
</div>